.login-img {
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.475rem;
  border-bottom-left-radius: 0.475rem
}

.login-input {
  line-height: 3;
  border-radius: 2rem;
}